@{
    ViewBag.Title = "Chat";
}

<div id="loginForm">
    <input type="text" id="login" />
    <input type="button" value="Login" onclick="altiumTest.Login()" />
</div>

<div hidden id="chatbox">
    <p>Users count: <b id="counter">0</b></p>
    <div id="inputForm">
        <div id="messagebox"></div>
        <input type="text" id="message" />
        <input type="button" id="sendBtn" value="Send" />
    </div>
</div>

@section Scripts {
    <script src="~/js/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/main.js"></script>
}
@section Styles {
    <link href="~/css/main.css" rel="stylesheet" />
}